= simple_form_for(current_user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username
    = f.input :email

  .form-actions
    = f.button :submit, 'Update Profile', class:'button tiny'
