= simple_form_for(current_user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username

  .form-actions
    = f.button :submit, 'Update Profile', class:'button tiny'
  %p
    = link_to "Cancel my account", registration_path(current_user), :data => { :confirm => "Are you sure?" }, :method => :delete, class:'action_links'
