%h1.filter_header Filter Results

= form_tag '/search', method: :get, id:'search_filter' do
  %ul#search_filter_fields
    %li
      = label_tag 'category_id', 'Category'
      = select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name))
    %li
      = label_tag 'min_price', 'Minimum Price'
      = number_field_tag :min_price, 1000
    %li
      = label_tag 'max_price', 'Maximum Price'
      = number_field_tag :max_price, 100000
      - if params[:q]
        = hidden_field_tag :q, params[:q]
    %li
      = submit_tag 'Filter Results', class:'button tiny'