!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? "My PH - #{yield(:title)}" : "My PH"
    = favicon_link_tag
    = google_webfonts_init({google:['Roboto']})
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css"
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default{role:'navigation'}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{'data-toggle'=>'collapse', 'data-target'=>'#mbb_nav_container'}
            %span.sr-only
              Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        = link_to 'my.ph', root_path, class:'navbar-brand'

        .collapse.navbar-collapse#mbb_nav_container
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li
                %p.navbar-text
                  %span.points
                    = current_user.points
              %li
                =link_to profile_path do
                  - if current_user.mailbox.notifications.unread.count > 0
                    %span.badge.pull-right
                      = current_user.mailbox.notifications.unread.count
                  Profile
              %li=link_to 'Post An Ad', new_user_item_path(current_user)
              %li=link_to 'My Ads', user_items_path(current_user)
              %li= link_to 'My Transactions', user_transactions_path(current_user)
              %li=link_to 'Log Out', destroy_user_session_path, method:'delete'
            - else
              %li=link_to 'Sign In', new_user_session_path
              %li=link_to 'Register', new_user_registration_path

          %ul.nav.navbar-nav.navbar-right
            %li.pull-right
              = render 'pages/search_form'

    %section#alerts
      - if notice
        %p.alert.alert-info
          = notice
          %button.close{type:'button', data:{dismiss:'alert'}}
            ='&times;'.html_safe
      - if alert
        %p.alert.alert.alert-warning
          = alert
          %button.close{type:'button', data:{dismiss:'alert'}}
            ='&times;'.html_safe
    %section#content.container
      = yield

    #footer
      .container
        %p This website is made by Ygam Retuta

    = javascript_include_tag "application", 'data-turbolinks-eval' => false
    = javascript_include_tag "http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"
